In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
michelin_restaurants_path = 'data/michelin_my_maps.csv'
yelp_restaurants_path = 'data/yelp_dataset/yelp_academic_dataset_business.json'
yelp_reviews_path = 'data/yelp_dataset/yelp_academic_dataset_review.json'
yelp_users_path = 'data/yelp_dataset/yelp_academic_dataset_user.json'

In [3]:
michelin = pd.read_csv(michelin_restaurants_path)
yelp = pd.read_json(yelp_restaurants_path, lines=True)

In [4]:
yelp_reviews = pd.read_json(yelp_reviews_path, lines=True)

In [5]:
yelp_users = pd.read_json(yelp_users_path, lines=True)

In [6]:
michelin.head()

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,GreenStar,FacilitiesAndServices,Description
0,ES:SENZ,"Mietenkamer Straße 65, Grassau, 83224, Germany","Grassau, Germany",€€€€,"Creative, Modern Cuisine",12.465618,47.785630,4.986414e+11,https://guide.michelin.com/en/bayern/grassau/r...,https://www.das-achental.com/,3 Stars,0,"Air conditioning,Car park,Interesting wine list","From the get-go, the stage is set in grand sty..."
1,Tohru in der Schreiberei,"Burgstraße 5, Munich, 80331, Germany","Munich, Germany",€€€€,"Modern Cuisine, Japanese Contemporary",11.577475,48.137597,4.989215e+11,https://guide.michelin.com/en/bayern/mnchen/re...,https://schreiberei-muc.de/,3 Stars,0,"Interesting wine list,Notable sake list",It is absolutely worth climbing the 23 steps o...
2,Schwarzwaldstube,"Tonbachstraße 237, Baiersbronn, 72270, Germany","Baiersbronn, Germany",€€€€,"Classic French, Creative",8.358280,48.536911,4.974425e+11,https://guide.michelin.com/en/baden-wurttember...,https://www.traube-tonbach.de/restaurants-bar/...,3 Stars,0,"Air conditioning,Car park,Great view,Interesti...","Schwarzwaldstube, the flagship restaurant of t..."
3,Victor's Fine Dining by christian bau,"Schlossstraße 27, Perl, 66706, Germany","Perl, Germany",€€€€,"Creative, Contemporary",6.387211,49.535173,4.968668e+10,https://guide.michelin.com/en/saarland/perl/re...,https://www.victors-fine-dining.de/,3 Stars,0,"Air conditioning,Car park,Interesting wine lis...",The way in which Christian Bau combines influe...
4,Aqua,"Parkstraße 1, Wolfsburg, 38440, Germany","Wolfsburg, Germany",€€€€,"Creative, Modern Cuisine",10.789979,52.432849,4.953616e+11,https://guide.michelin.com/en/niedersachsen/wo...,https://www.restaurant-aqua.com,3 Stars,0,"Air conditioning,Car park,Interesting wine lis...",The Ritz-Carlton is located in the heart of Vo...

In [7]:
yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [8]:
yelp_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [9]:
yelp_users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [10]:
# Define columns that are allowed to have missing values and take only essentials
yelp_optional_cols = ['categories', 'hours', 'attributes']
michelin_optional_cols = ['Cuisine', 'PhoneNumber', 'Url', 'FacilitiesAndServices', 'Description', 'Price']
yelp_reviews_optional_cols = ['useful', 'funny', 'cool']
yelp_users_optional_cols = ['useful', 'funny', 'cool', 'fans', 'elite', 'friends', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

# Essential
yelp_essential_cols = [col for col in yelp.columns if col not in yelp_optional_cols]
michelin_essential_cols = [col for col in michelin.columns if col not in michelin_optional_cols]
yelp_reviews_essential_cols = [col for col in yelp_reviews.columns if col not in yelp_reviews_optional_cols]
yelp_users_essential_cols = [col for col in yelp_users.columns if col not in yelp_users_optional_cols]

print(f"Yelp essential columns ({len(yelp_essential_cols)}): {yelp_essential_cols}")
print(f"Michelin essential columns ({len(michelin_essential_cols)}): {michelin_essential_cols}")
print(f"Yelp reviews essential columns ({len(yelp_reviews_essential_cols)}): {yelp_reviews_essential_cols}")
print(f"Yelp users essential columns ({len(yelp_users_essential_cols)}): {yelp_users_essential_cols}")

Yelp essential columns (11): ['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open']
Michelin essential columns (8): ['Name', 'Address', 'Location', 'Longitude', 'Latitude', 'WebsiteUrl', 'Award', 'GreenStar']
Yelp reviews essential columns (6): ['review_id', 'user_id', 'business_id', 'stars', 'text', 'date']
Yelp users essential columns (5): ['user_id', 'name', 'review_count', 'yelping_since', 'average_stars']

In [11]:
# Create output directory
output_dir = 'data/cleaned'
os.makedirs(output_dir, exist_ok=True)
print(f"Created output directory: {output_dir}")

Created output directory: data/cleaned

In [12]:
# Remove rows with missing essential values from Yelp
yelp_has_missing_mask = yelp[yelp_essential_cols].isnull().any(axis=1)
print(f"Yelp rows with missing essential values: {yelp_has_missing_mask.sum()} ({yelp_has_missing_mask.sum()/len(yelp)*100:.2f}%)")
print(f"Yelp rows before cleaning: {len(yelp)}")

yelp_cleaned = yelp.loc[~yelp_has_missing_mask].copy()
print(f"Yelp rows after cleaning: {len(yelp_cleaned)}")
print(f"Yelp rows removed: {len(yelp) - len(yelp_cleaned)}")

Yelp rows with missing essential values: 0 (0.00%)
Yelp rows before cleaning: 150346
Yelp rows after cleaning: 150346
Yelp rows removed: 0
Yelp rows after cleaning: 150346
Yelp rows removed: 0

In [13]:
# Remove rows with missing essential values from Yelp Users
yelp_users_has_missing_mask = yelp_users[yelp_users_essential_cols].isnull().any(axis=1)
print(f"Yelp user rows with missing essential values: {yelp_users_has_missing_mask.sum()} ({yelp_users_has_missing_mask.sum()/len(yelp_users)*100:.2f}%)")
print(f"Yelp user rows before cleaning: {len(yelp_users)}")

yelp_users_cleaned = yelp_users.loc[~yelp_users_has_missing_mask].copy()
yelp_users_cleaned = yelp_users_cleaned.drop(columns=['...'], errors='ignore')
yelp_users_cleaned = yelp_users_cleaned.drop(columns=['friends'], errors='ignore')
print(f"Yelp user rows after cleaning: {len(yelp_users_cleaned)}")
print(f"Yelp user rows removed: {len(yelp_users) - len(yelp_users_cleaned)}")

# Randomly sample 50% of users
yelp_users_cleaned = yelp_users_cleaned.sample(frac=0.5, random_state=42)
print(f"Yelp user rows after 50% sampling: {len(yelp_users_cleaned)}")

Yelp user rows with missing essential values: 0 (0.00%)
Yelp user rows before cleaning: 1987897
Yelp user rows after cleaning: 1987897
Yelp user rows removed: 0
Yelp user rows after cleaning: 1987897
Yelp user rows removed: 0
Yelp user rows after 50% sampling: 993948
Yelp user rows after 50% sampling: 993948

In [14]:
# Remove rows with missing essential values from Yelp Reviews
yelp_reviews_has_missing_mask = yelp_reviews[yelp_reviews_essential_cols].isnull().any(axis=1)
print(f"Yelp review rows with missing essential values: {yelp_reviews_has_missing_mask.sum()} ({yelp_reviews_has_missing_mask.sum()/len(yelp_reviews)*100:.2f}%)")
print(f"Yelp review rows before cleaning: {len(yelp_reviews)}")

yelp_reviews_cleaned = yelp_reviews.loc[~yelp_reviews_has_missing_mask].copy()
print(f"Yelp review rows after cleaning: {len(yelp_reviews_cleaned)}")
print(f"Yelp review rows removed: {len(yelp_reviews) - len(yelp_reviews_cleaned)}")

# Filter reviews to only include those from sampled users
sampled_user_ids = set(yelp_users_cleaned['user_id'])
yelp_reviews_cleaned = yelp_reviews_cleaned[yelp_reviews_cleaned['user_id'].isin(sampled_user_ids)]
print(f"Yelp review rows after filtering to sampled users: {len(yelp_reviews_cleaned)}")

# Randomly sample 50% of users
yelp_reviews_cleaned = yelp_reviews_cleaned.sample(frac=0.5, random_state=42)
print(f"Yelp review rows after 50% sampling: {len(yelp_users_cleaned)}")

Yelp review rows with missing essential values: 0 (0.00%)
Yelp review rows before cleaning: 6990280
Yelp review rows after cleaning: 6990280
Yelp review rows removed: 0
Yelp review rows after cleaning: 6990280
Yelp review rows removed: 0
Yelp review rows after filtering to sampled users: 3458977
Yelp review rows after 50% sampling: 993948
Yelp review rows after filtering to sampled users: 3458977
Yelp review rows after 50% sampling: 993948

In [15]:
# Remove rows with missing essential values from Michelin
michelin_has_missing_mask = michelin[michelin_essential_cols].isnull().any(axis=1)
print(f"Michelin rows with missing essential values: {michelin_has_missing_mask.sum()} ({michelin_has_missing_mask.sum()/len(michelin)*100:.2f}%)")
print(f"Michelin rows before cleaning: {len(michelin)}")

michelin_cleaned = michelin.loc[~michelin_has_missing_mask].copy()
print(f"Michelin rows after cleaning: {len(michelin_cleaned)}")
print(f"Michelin rows removed: {len(michelin) - len(michelin_cleaned)}")

Michelin rows with missing essential values: 3195 (14.58%)
Michelin rows before cleaning: 21910
Michelin rows after cleaning: 18715
Michelin rows removed: 3195
Michelin rows after cleaning: 18715
Michelin rows removed: 3195

In [16]:
# Export cleaned data
print("\n=== FINAL EXPORT SUMMARY ===")
print(f"Michelin final rows: {len(michelin_cleaned):,}")
print(f"Yelp business final rows: {len(yelp_cleaned):,}")
print(f"Yelp reviews final rows: {len(yelp_reviews_cleaned):,}")
print(f"Yelp users final rows: {len(yelp_users_cleaned):,}")

=== FINAL EXPORT SUMMARY ===
Michelin final rows: 18,715
Yelp business final rows: 150,346
Yelp reviews final rows: 1,729,488
Yelp users final rows: 993,948

In [17]:
# Export Yelp data
yelp_output_path = os.path.join(output_dir, 'yelp_cleaned.csv')
yelp_cleaned.to_csv(yelp_output_path, index=False)
print(f"✓ Exported Yelp data to: {yelp_output_path}")
print(f"  - Rows: {len(yelp_cleaned):,}")
print(f"  - Size: {os.path.getsize(yelp_output_path) / 1024:.2f} KB")

✓ Exported Yelp data to: data/cleaned/yelp_cleaned.csv
  - Rows: 150,346
  - Size: 96753.38 KB

In [18]:
# Export Yelp reviews data
yelp_review_output_path = os.path.join(output_dir, 'yelp_reviews_cleaned.csv')
yelp_reviews_cleaned.to_csv(yelp_review_output_path, index=False)
print(f"✓ Exported Yelp reviews to: {yelp_review_output_path}")
print(f"  - Rows: {len(yelp_reviews_cleaned):,}")
print(f"  - Size: {os.path.getsize(yelp_review_output_path) / 1024:.2f} KB")

✓ Exported Yelp reviews to: data/cleaned/yelp_reviews_cleaned.csv
  - Rows: 1,729,488
  - Size: 1118680.01 KB

In [19]:
# Export Yelp users data
yelp_user_output_path = os.path.join(output_dir, 'yelp_users_cleaned.csv')
yelp_users_cleaned.to_csv(yelp_user_output_path, index=False)
print(f"✓ Exported Yelp users to: {yelp_user_output_path}")
print(f"  - Rows: {len(yelp_users_cleaned):,}")
print(f"  - Size: {os.path.getsize(yelp_user_output_path) / 1024:.2f} KB")

✓ Exported Yelp users to: data/cleaned/yelp_users_cleaned.csv
  - Rows: 993,948
  - Size: 86385.60 KB

In [20]:
# Export Michelin data
michelin_output_path = os.path.join(output_dir, 'michelin_cleaned.csv')
michelin_cleaned.to_csv(michelin_output_path, index=False)
print(f"✓ Exported Michelin data to: {michelin_output_path}")
print(f"  - Rows: {len(michelin_cleaned):,}")
print(f"  - Size: {os.path.getsize(michelin_output_path) / 1024:.2f} KB")

✓ Exported Michelin data to: data/cleaned/michelin_cleaned.csv
  - Rows: 18,715
  - Size: 16544.71 KB